*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	padding: 0 30px;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}

#calculator {
	text-align: center;
	height: 275px;
	overflow: hidden;
}

.selected:not(#clear) {
	background: #7e7;
}

#clear {
	background: #eee;
}

input, .operators, #answer {
	display: inline-block;
}

input {
	font-size: 200%;
	width: 150px;
	position: relative;
	top: -50px;
}

input[disabled="true"] {
	border: none;
	background: rgba(0, 0, 0, 0.1);
}

.operators {
	width: 100px;
	position: relative;
	top: 44px;
}

.operators .button {
	display: block;
	text-align: center;
	width: 50%;
	float: left;
	padding: 20px 0;
	border: 1px solid rgba(50, 50, 50, 0.1);
}

#answer, #equals {
	font-size: 200%;
	position: relative;
	top: -50px;
}

#equals {
	margin: 0 10px;
}

#answer {

}

ul {
	text-align: center;
	list-style: none;
}



/* Dark Theme */
#calculator[theme="dark"] {
  background: #222;
}

#calculator[theme="dark"] .operators .button {
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

#calculator[theme="dark"] input {
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff;
}

#calculator[theme="dark"] #clear {
	background: rgba(255, 255, 255, 0.1);
}

#calculator[theme="dark"] #equals,
#calculator[theme="dark"] #answer {
	color: #fff;
}




















