*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	padding: 0 30px;
}

a {
	text-decoration: none;
}

#calculator {
	text-align: center;
}

.selected {
	background: #7e7;
}

input, .operators, #answer {
	display: inline-block;
}

input {
	font-size: 200%;
	width: 150px;
	position: relative;
	top: -50px;
}

input[disabled="true"] {
	border: none;
	background: rgba(0, 0, 0, 0.1);
}

.operators {
	width: 100px;
	position: relative;
	top: 44px;
}

.operators .button {
	display: block;
	text-align: center;
	width: 50%;
	float: left;
	padding: 20px 0;
	border: 1px solid rgba(50, 50, 50, 0.1);
}

#answer, #equals {
	font-size: 200%;
	position: relative;
	top: -50px;
}

ul {
	margin-top: 120px;
}